In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [2]:
df = pd.read_csv(r"C:\Users\Aman Rahees\Desktop\Data Science\Week 21\Datasets\Churn.csv")

In [3]:
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [4]:
df.shape

(7044, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        7044 non-null   object
 1   Gender             7044 non-null   object
 2   Senior Citizen     7044 non-null   int64
 3   Partner            7044 non-null   object
 4   Dependents         7044 non-null   object
 5   tenure             7044 non-null   int64
 6   Phone Service      7044 non-null   object
 7   Multiple Lines     7044 non-null   object
 8   Internet Service   7044 non-null   object
 9   Online Security    7044 non-null   object
 10  Online Backup      7044 non-null   object
 11  Device Protection  7044 non-null   object
 12  Tech Support       7044 non-null   object
 13  Streaming TV       7044 non-null   object
 14  Streaming Movies   7044 non-null   object
 15  Contract           7044 non-null   object
 16  Paperless Billing  7044 non-null   object
 17  Payment Method     7044 non-null   object
 18  Monthly Charges    7044 non-null   float64
 19  Total Charges      7044 non-null   object
 20  Churn              7044 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df.isnull().sum()

Customer ID          0
Gender               0
Senior Citizen       0
Partner              0
Dependents           0
tenure               0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn                0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

lbn = LabelEncoder()

In [8]:
df.drop('Customer ID',axis=1, inplace=True)

In [9]:
df.select_dtypes(include='object').columns

Index(['Gender', 'Partner', 'Dependents', 'Phone Service', 'Multiple Lines',
       'Internet Service', 'Online Security', 'Online Backup',
       'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies',
       'Contract', 'Paperless Billing', 'Payment Method', 'Total Charges',
       'Churn'],
      dtype='object')

In [10]:
df['Gender'] = lbn.fit_transform(df['Gender'])
df['Partner'] = lbn.fit_transform(df['Partner'])
df['Dependents'] = lbn.fit_transform(df['Dependents'])
df['Phone Service'] = lbn.fit_transform(df['Phone Service'])
df['Multiple Lines'] = lbn.fit_transform(df['Multiple Lines'])
df['Internet Service'] = lbn.fit_transform(df['Internet Service'])
df['Online Security'] = lbn.fit_transform(df['Online Security'])
df['Online Backup'] = lbn.fit_transform(df['Online Backup'])
df['Device Protection'] = lbn.fit_transform(df['Device Protection'])
df['Tech Support'] = lbn.fit_transform(df['Tech Support'])
df['Streaming TV'] = lbn.fit_transform(df['Streaming TV'])
df['Streaming Movies'] = lbn.fit_transform(df['Streaming Movies'])
df['Contract'] = lbn.fit_transform(df['Contract'])
df['Paperless Billing'] = lbn.fit_transform(df['Paperless Billing'])
df['Payment Method'] = lbn.fit_transform(df['Payment Method'])
df['Total Charges'] = lbn.fit_transform(df['Total Charges'])
df['Churn'] = lbn.fit_transform(df['Churn'])

In [11]:
df.head()

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,2505,0
1,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,2505,0
2,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1466,0
3,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,157,1
4,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1400,0

In [12]:
x = df.drop('Churn', axis=1)
y = df['Churn']

In [13]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=0)

In [14]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense

model = Sequential()

In [15]:
model.add(Dense(units=32, activation='relu', input_dim=len(x_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [16]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy')

In [31]:
model.fit(x_train, y_train, epochs=5)

Epoch 1/5
166/166 [==============================] - 0s 3ms/step - loss: 0.5790 - accuracy: 0.7352
Epoch 2/5
166/166 [==============================] - 0s 2ms/step - loss: 0.5791 - accuracy: 0.7352
Epoch 3/5
166/166 [==============================] - 0s 3ms/step - loss: 0.5779 - accuracy: 0.7352
Epoch 4/5
166/166 [==============================] - 0s 3ms/step - loss: 0.5791 - accuracy: 0.7352
Epoch 5/5
166/166 [==============================] - 0s 3ms/step - loss: 0.5784 - accuracy: 0.7352

In [32]:
y_pred = model.predict(x_test)
y_pred_ = [0 if val <0.5 else 1 for val in y_pred]

56/56 [==============================] - 0s 2ms/step